/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black: #222;
  --dark-gray: #999;
  --shadow: rgba(0, 0, 0, 0.08);
}

.back {
  background-image: url('../../img/index/imageback.png');
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  height: 72vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.back-content {
  max-width: 100vh;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 14px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--blue);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--blue2);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}