<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parking</title>
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/parking.css" />
    <link rel="stylesheet" href="../css/modalRegister.css" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <script defer src="../js/parking.js"></script>
    <script defer src="../js/modal.js"></script>
  </head>

  <body>
    <div class="container">
      <!--Navegación-->
      <div class="navegation">
        <ul>
          <li>
            <a href="">
              <span class="icon">
                <i class="fa-brands fa-reddit"></i>
              </span>
              <span class="title">Cafan II</span>
            </a>
          </li>
          <li>
            <a href="Dashboard.html">
              <span class="icon">
                <i class="fa-solid fa-house-chimney"></i>
              </span>
              <span class="title">Inicio</span>
            </a>
          </li>
          <li>
            <a href="resident.html">
              <span class="icon">
                <i class="fa-solid fa-user"></i>
              </span>
              <span class="title">Residentes</span>
            </a>
          </li>
          <li>
            <a href="Tax.html">
              <span class="icon">
                <i class="fa-solid fa-dollar-sign"></i>
              </span>
              <span class="title">Cuotas</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <i class="fa-solid fa-comment"></i>
              </span>
              <span class="title">Votaciones</span>
            </a>
          </li>
          <li>
            <a href="parking.html">
              <span class="icon">
                <i class="fa-solid fa-car"></i>
              </span>
              <span class="title">Parqueadero</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <i class="fa-solid fa-users"></i>
              </span>
              <span class="title">Zona Comun</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <i class="fa-solid fa-question"></i>
              </span>
              <span class="title">Ayuda</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <i class="fa-solid fa-gear"></i>
              </span>
              <span class="title">Configuracion</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <i class="fa-solid fa-lock"></i>
              </span>
              <span class="title">Contraseña</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <i class="fa-solid fa-right-from-bracket"></i>
              </span>
              <span class="title">Salir</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!--main-->
    <div class="main">
      <!--Search-->
      <div class="topbar">
        <div class="toggle">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="search">
          <label>
            <input type="text" placeholder="Escriba aquí" id="searchInput" />
            <i class="fa-solid fa-magnifying-glass"></i>
          </label>
        </div>
        <div class="user">
          <img src="../img/user.jpg" alt="" />
        </div>
      </div>
      <div class="content-parking">
        <div class="content-btn">
          <div>
            <button
              class="btn-distributio btn-parking"
              id="asignarParqueaderosButton"
            >
              Asignacion Automatica
            </button>
            <button class="btn-parking" id="Save">Guardar</button>
          </div>
        </div>

        <div class="content-cardsParking">
          <div class="card" id="1">
            <div>
              <div class="numbers">1</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="2">
            <div>
              <div class="numbers">2</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="3">
            <div>
              <div class="numbers">3</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="4">
            <div>
              <div class="numbers">4</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="5">
            <div>
              <div class="numbers">5</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="6">
            <div>
              <div class="numbers">6</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="7">
            <div>
              <div class="numbers">7</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="8">
            <div>
              <div class="numbers">8</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="9">
            <div>
              <div class="numbers">9</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="10">
            <div>
              <div class="numbers">10</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="11">
            <div>
              <div class="numbers">11</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="12">
            <div>
              <div class="numbers">12</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="13">
            <div>
              <div class="numbers">13</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="14">
            <div>
              <div class="numbers">14</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="15">
            <div>
              <div class="numbers">15</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="16">
            <div>
              <div class="numbers">16</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="17">
            <div>
              <div class="numbers">17</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="18">
            <div>
              <div class="numbers">18</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="19">
            <div>
              <div class="numbers">19</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="20">
            <div>
              <div class="numbers">20</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="21">
            <div>
              <div class="numbers">21</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="22">
            <div>
              <div class="numbers">22</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="23">
            <div>
              <div class="numbers">23</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="24">
            <div>
              <div class="numbers">24</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="25">
            <div>
              <div class="numbers">25</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="26">
            <div>
              <div class="numbers">26</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="27">
            <div>
              <div class="numbers">27</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="28">
            <div>
              <div class="numbers">28</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="29">
            <div>
              <div class="numbers">29</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="30">
            <div>
              <div class="numbers">30</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="31">
            <div>
              <div class="numbers">31</div>
              <div class="addToSlot" data-open="modal1" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
          <div class="card" id="32">
            <div>
              <div class="numbers">32</div>
              <div class="addToSlot" data-open="modal1" id="add" style="display: none">
                <i class="fa-solid fa-plus"></i>
              </div>
              <div class="cardPlaca"></div>
              <div class="NameUser"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modal1">
      <div class="modal-dialog">
        <header class="modal-header">
          <div></div>
          <div>Asignacion manual de parqueaderos</div>
          <button class="close-modal btn" aria-label="close-modal" data-close>
            ✕
          </button>
        </header>
        <section class="modal-content modalBody">
          <ul id="resident-list">
          </ul>
          <button class="btn-asignar" type="button">Asignar</button>
        </section>
      </div>
    </div>

    <!--Js-->
    <script src="../js/Fetch.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/search.js"></script>
    <script src="../js/modal.js"></script>

    <!--Iconos-->
    <script
      src="https://kit.fontawesome.com/af15331ceb.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
